.stack-work/
*~
stack.yaml.lock
glados
*.lsp
/glados.cabal
./test/coverage
/test/coverage/
test/coverage/
/fcc
/fcvm
/lisp/test/coverage/
/fcvm_src/test/coverage/
/fcc_src/test/coverage/
/fcc_src/fcc
/fcvm_src/fcvm
/lisp/glados
*/*.cabal
