.stack-work/
*~
stack.yaml.lock
glados
glados 2
*.lsp
/glados.cabal
./test/coverage
/test/coverage/
test/coverage/
/fcc
/fcvm
/lisp/test/coverage/
/fcvm_src/test/coverage/
/fcc_src/test/coverage/
/fcc_src/fcc
/fcvm_src/fcvm
/lisp/glados
*/*.cabal
.DS_Store
/fcc_src/test2.fr
/fcc_src/test.fr
a.fcp
